<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiba-Inu Crypto</title>
</head>
<body>
    <h1>Shiba-Inu Crypto</h1>
    <ul>
        <li>Name:
          <span id="name">{{crypto['name']}}</span>
        </li>
        <li>Rank:
          <span id="rank">{{crypto['rank']}}</span>
        </li>
        <li>Price (USD):
          <span id="price">{{crypto['quotes']['USD']['price']}}</span>
        </li>
        <li>Last updated:
          <span id="updated">{{crypto['last_updated']}}</span>
        </li>
      </ul>
  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
  
    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  
    <!-- Script to update automatically -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>